{% extends 'base.html' %}
{% load static%}
{% block body%}
  <!-- Content -->
    <div id="content">
    
    <!-- Banner -->
    <section class="bnr">
      <div class="position-center-center mob-normal">
        <div class="container">
          <div class="col-lg-8 center-auto text-center">
            <h1>Welcome to Leading Social Networking Site</h1>
            <a href="{% url 'login' %}" class="btn">Login & Register</a>  </div>
        </div>
      </div>
    </section>
    
    <!-- Intro Sec -->
    <section>
      <div class="container">
          <div  class="intro-sec">
        <div class="row margin-0">
          <div class="col-lg-4 padding-0">
            <div class="intro-txt-bnr">
              <h4>Stay in touch with your Colleagues</h4>
              <p>Always Stay connected with your collegues for discussing a Productive future. </p>
            </div>
          </div>
          <div class="col-lg-4 padding-0">
            <div class="intro-txt-bnr primary-bg text-dark">
              <h4>Get the latest news in your Industry </h4>
              <p>Find out Latest news about yout Industry and always stay Updated. </p>
            </div>
          </div>
          <div class="col-lg-4 padding-0">
            <div class="intro-txt-bnr">
              <h4>Share what’s up with your Professionals </h4>
              <p>Share your experience with your Proffesionals in a fun way. </p>
            </div>
          </div>
            </div>
        </div>
      </div>
    </section>
    
    <!-- Papular Companies -->
    <section class="padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Heading Block -->
        <div class="heading-block text-center">
          <h2>Papular Companies</h2>
        </div>
        
        <!-- Companies -->

        <div class="row">
          <div class="col-lg-6">
            <div class="row"> 
              <!-- Company -->
              {% for data in data %}
                <div class="col-sm-6">
                <div class="com-inside">
                  <div class="img-sec"> <img src="{{ data.logo.url }}" class="img-responsive" alt="" >

                  </div>
                  <div class="txt-sec">
                    <h5><a href="companies-detail">{{ data.name }} </a></h5>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <!-- WHAT OUR USERS SAY -->
    <section class="bg-white padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Heading Block -->
        <div class="heading-block text-center">
          <h2>Testimonials</h2>
        </div>
        
        <!-- Testimonial Style 4 -->
        <div class="testimonial style-4">
          <div class="testi"> 
            <!-- Testi Slides With Image -->
            <div class="testi-slide"> 
              
              <!-- Slides -->
              <div> 
                <!-- Avatar -->
                <div class="avatar"><img class="img-circle img-responsive" src="{% static 'images/img1.jpeg' %}" alt=" "></div>
                <div class="text-in">
                  <p>“There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, 
                    or randomised words which don't look even slightly believable.” </p>
                  <h6>NIHAR RANJAN MISHRA</h6>
                  <span> CEO/FOUNDER </span></div>
              </div>
              
              <!-- Slides -->
              <div> 
                <!-- Avatar -->
                <div class="avatar"><img class="img-circle img-responsive" src="{% static 'images/rakesh.jpg' %}" alt=" "></div>
                <div class="text-in">
                  <p>“There are many variations  but the majority have suffered alteration. but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.”</p>
                  <h6>RAKESH BHOL</h6>
                  <span> CEO/FOUNDER </span></div>
              </div>
              
              <!-- Slides 1 -->
              <div> 
                <!-- Avatar -->
                <div class="avatar"><img class="img-circle img-responsive" src="{% static 'images/Prateek.jpg' %}" alt=" "></div>
                <div class="text-in">
                  <p>“There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, Alteration in some form randomised words which don't look even slightly believable.”</p>
                  <h6>PRATEEK MISHRA</h6>
                  <span> CEO/FOUNDER</span> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
    {% endblock %}